.input-knob {
    -webkit-appearance: none;
    appearance: none;
    border: 0;
    box-sizing: border-box;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: 0px 0%;
    background-color: transparent;
    touch-action: none;
    cursor: grab;
    width: 64px;
    height: 64px;
}

.input-knob::-webkit-slider-thumb {
    appearance: none;
    -webkit-appearance: none;
    opacity: 0;
}

.input-knob::-moz-range-thumb {
    appearance: none;
    -moz-appearance: none;
    height: 0;
    border: none;
    outline: none;
}

.input-knob:focus {
    border: none;
    outline: none;
}
